ALTER TABLE public.batch_members ADD COLUMN last_read_at TIMESTAMPTZ DEFAULT now();
CREATE OR REPLACE FUNCTION public.get_unread_chat_count() RETURNS INTEGER LANGUAGE sql SECURITY DEFINER SET search_path = public AS \$\$ SELECT count(*)::int FROM chat_messages c JOIN batch_members bm ON bm.batch_id = c.batch_id AND bm.user_id = auth.uid() WHERE c.created_at > COALESCE(bm.last_read_at, '1970-01-01'::timestamptz) AND c.user_id != auth.uid(); \$\$;
